@model IEnumerable<ApplicationWeb.Models.Detail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowData</title>
</head>
<body>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.city_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.country_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.latitude)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.city_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.country_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.latitude)
                    </td>
                    <td>
                  @*@using(Html.BeginForm("Index","Home",FormMethod.Post))
                {
                    @Html.ActionLink("Delete","DeleteData",new {id=item.id })
                }*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
